@import 'global.scss';

.verdict {
  font-weight: bold;
  font-family: $font-codeforces;

  &.ac {
    color: $accepted !important;
  }

  &.wa, &.tle, &.mle, &.ole {
    color: $not-accepted !important;
  }

  &.ir, &.rte {
    color: $runtime-error !important;
  }

  &.qu, &.g, &.p, &.sc {
    color: $queued !important;
  }

  &.ie, &.ce {
    color: $system-error !important;
  }

  @media (min-width: 768px) {
    span { display: none; }
    &.ac::after {
    content: "Accepted"
    }
    &.wa::after {
    content: "Wrong Answer"
    }
    &.tle::after {
    content: "Time Limit Exceeded"
    }
    &.mle::after {
    content: "Memory Limit Exceeded"
    }
    &.ole::after {
    content: "Output Limit Exceeded"
    }
    &.ir::after {
    content: "Invalid Return"
    }
    &.rte::after {
    content: "Runtime Error"
    }
    &.qu::after {
    content: "Waiting.."
    }
    &.p::after {
    content: "Processing.."
    }
    &.g::after {
    content: "Judging.."
    }
    &.sc::after {
    content: "Skipped"
    }
    &.ie::after {
    content: "Internal Error"
    }
    &.ce::after {
    content: "Compile Error"
    }
  }
}
