@import "global.scss";

.content-div {
    width: 80vw;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 2px $base;
    border-radius: 3px;
    background-color: white;

    text-align: center;
}
