@import "global.scss";

.error-box {
    width: 80%;
    margin: auto;

    padding: 2px 8px;

    border: solid 1px $red;
    background-color: $red-lighter;
    
    text-align: left;

    * {
        margin: 0;
        font-size: 12px;
        color: $red-light
    }
    p {
        font-family: $font-subscript;
    }
    h5 {
        font-family: $font-subscript;
        font-weight: bold;
    }
}