@import 'global.scss';

div.row {
  width: 100%;
  div.table-col {
  }
}

.offcanvas {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1110;
  top: 0;
  right: 0;

  background-color: $base;

  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;

  a {
    // padding-top: 16px;
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: .3s;
    color: $sub-dark;

    &:hover {
      color: $sub;
    }
  }

  .canvasCloseBtn {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    color: $sub !important;

    &:hover {
      right: 15px;
    }
  }
}


#offcanvas-menu {
  transition: margin-right .3s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .offcanvas {padding-top: 34px;}
  .offcanvas a {font-size: 16px;}
  .offcanvas .canvasCloseBtn {font-size: 24px;}
}